.blog_contents
  = link_to blog_path(blog.id) do
    .blog_contents_box
      .blog_contents_box_top
        %p
          = blog.title
        %figure.blog_contents_box_top_figure
          = image_tag(blog.images[0], size: "75%x75%", class: "img")
          %figcaption.figcaption
            %p
              = blog.title
      .blog_contents_box_bottom
        .blog_contents_box_bottom_text
          %span
            = blog.text