= render 'shade/header'
%main.blog_warraper
  .blog_contents
    .blog_contents_box
      .blog_contents_box_top
        %p
          = @blog.title
        %figure.blog_contents_box_top_figure
          - @blog.images.each do |image|
            = image_tag(image, size: "75%x75%", class: "img")
      .blog_contents_box_bottom
        .blog_contents_box_bottom_text
          %span
            = @blog.text
.my_edit
  = link_to "編集する",  edit_blog_path(@blog.id)
.my_delete
  = link_to "削除する", "/blogs/#{@blog.id}", method: :delete