%header.blog_header#top
  = render 'shade/header'
%main.blog_warraper
  .blog_warraper_box
    .blog_warraper_box_left
      = link_to "Blog", blogs_path, class: "link"
    = form_with(url: search_blogs_path, local: true, method: :get) do |f|
      = f.text_field :keyword, placeholder: "投稿検索", class: "field"
      = f.submit "検索"
    .blog_warraper_box_right
      -if (user_signed_in? && current_user.admin?)
        = link_to '投稿ページ', new_blog_path, class: "link"
      - if user_signed_in?
        = link_to 'マイページ', "/users/#{current_user.id}", class: "link"
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "link"
      - else
        = link_to 'ログイン', new_user_session_path, class: "link"
        = link_to '新規登録', new_user_registration_path, class: "link"
  = render @blogs
  = paginate @blogs
.footer
  = link_to '#top' do
    = icon "fa", "arrow-alt-circle-up",class: "arrow"