%header.blog_header#top
  = render 'shade/header'
%main.blog_warraper
  .blog_warraper_box
    .blog_warraper_box_left
      Blog
    .blog_warraper_box_right
      = link_to '投稿ページ', new_blog_path, class: "link"
      //後にadmin条件分岐
  .blog_contents
    = link_to '/' do
      .blog_contents_box
        .blog_contents_box_top
          @blog.title
          %figure.blog_contents_box_top_figure
            = image_tag('images/cafe2', size: "75%x75%", class: "img")
            %figcaption.figcaption
              %p @blog.title
        .blog_contents_box_bottom
          .blog_contents_box_bottom_text
            %span @blog.text.limit?            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    = link_to '/' do
      .blog_contents_box
        .blog_contents_box_top
          %figure.blog_contents_box_top_figure
            = image_tag('images/cafe2', size: "75%x75%")
            %figcaption.figcaption
              @blog.title
        .blog_contents_box_bottom
          .blog_contents_box_bottom_text
            @blog.text.limit?
    = link_to '/' do
      .blog_contents_box
        .blog_contents_box_top
          %figure.blog_contents_box_top_figure
            = image_tag('images/cafe2', size: "75%x75%")
            %figcaption.figcaption
              @blog.title
        .blog_contents_box_bottom
          .blog_contents_box_bottom_text
            @blog.text.limit?
.footer
  = link_to '#top' do
    = icon "fa", "arrow-alt-circle-up",class: "arrow"